.tabs__header {
    background-color: #E1E8EB;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.219);
}


.tabs__header__item {
    cursor: pointer;
    transition: background .35s ease;
}

.tabs__header__item:hover {
    background-color: #a7adaf56;
}

.tabs__header__item--active {
    background-color: #a7adaf;
}

.tabs__header__item--active:hover {
    background-color: #a7adaf;
}

.tabs__content__container {
    display: none;
}

.tabs__content__container--active {
    display: inherit;
}